extend ../layout
block content
	p.poem.
		Word got out that you were hella fly,
		And had hella style, ain’t no lie. 
		Now this ain’t no time to take a chill-pill,
		Word on the street you lookin' for a thrill.  
	p.message.
		You will be notified with more information as soon as the date is set in stone. Emails will be disbursed once the acceptance and wait-lists are determined. A confirmation will be needed to save your spot if you are accepted.
		
		Keep it real, #{firstName}
		The HackFSU Team
