extends layouts/standard

block content
	#error-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title= message
			br
			h2
				if error.status
					= error.status
				else
					| 404
					br 
					| Sorry about that.
			p #{error.stack}
			.clear
