/*****************************************************************************
 * FONTS
 */
 @font-face {
   font-family: 'Uni Sans';
   font-weight: 100;
   src: url('../fonts/unisansfree/Uni Sans Thin.otf');
 }
 @font-face {
   font-family: 'Uni Sans';
   font-weight: 700;
   src: url('../fonts/unisansfree/Uni Sans Heavy.otf');
 }
 @font-face {
   font-family: 'Lato';
   font-weight: 400;
   src: url('../fonts/Lato-Regular.ttf');
 }

body {
  font-family: 'Helvetica';
  font-size: 16px;
  color: #223060;
}

h1 {
  font-family: 'Uni Sans', sans-serif;
  font-weight: 700;
  color: #223060;
  line-height: 1em;
}

h2 {
  font-family:'Open Sans', sans-serif;
  font-weight: 300;
}

h3, h4, h5, h6 {
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}

.text-medium {
  font-size: 20px;
}


/*****************************************************************************
 * LINKS
 */
a a:visited, :link, a:active, a:hover  {
 text-decoration: none;
}
a:hover {
  cursor: pointer;
}

.link-text {
  border-bottom: 3px solid #FFFFFF;
}
.link-text:visited {
 color: #ed748e;
}

.link-text:link {
 color: #ed748e;
}

.link-text:hover {
 border-bottom: 3px solid #ed748e;
 cursor: pointer;
}

h1 a {
  color: rgba(255, 255, 255, 1);
}

h1 a:hover {
  color: rgba(255, 255, 255, 0.6);
}


a.cleanLink, a.cleanLink:hover, a.cleanLink:active, a.cleanLink:visited {
  border: 0;
}

a button, a:hover button, a:active button, a:visited button {
  border: 0;
}




/*****************************************************************************
 * NAVBAR
 */

.navbar-inverse {
  background-color: rgba(30, 177, 173, 1);
  border: none;
}

.navbar-right {
  margin-right: 15px !important;
}

.navbar-inverse .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  padding-bottom: 3px;
  padding-top: 3px;
  padding-right: 10px;
  margin-top: 12px;
  margin-bottom: 7px;
  width: auto;
  font-family: 'Uni Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
}


.navbar-nav>li>a:hover {
  color: rgba(255, 255, 255, 0.6) !important;
}

.navbar-brand img {
  width: 150px;
  margin-left: 15px;
}




/*****************************************************************************
 * FORM
 */

form {
  font-family: 'Lato';
  font-weight: 400;
}

.form-control {
  font-family: 'Lato';
  font-weight: 400;
  border: none;
  border-bottom: 3px solid rgba(30, 177, 173, 1);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #223060;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border-bottom: 3px solid #223060;
}

textarea {
  border: 3px solid rgba(30, 177, 173, 1) !important;
  margin-top: 12px;
} 

textarea:focus {
  border: 3px solid #223060 !important;
}

label {
  font-weight: 400;
}

.form-horizontal {
  font-family: 'Lato';
  font-weight: 100;
  font-size: 16px;
}

.form-group {
  font-family: 'Lato';
  font-weight: 400;
  font-size: 16px;
}

.form-group > label {
  font-family: 'Lato';
  font-weight: 400;
  color: rgba(30, 177, 173, 1);
}
.form-group > label.hasInputError {
  color: #ed748e;
}
.form-error-msg {
  float: left;
  color: #ed748e;
  margin-right: 2em;
}

.form-group select {
  background: rgba(255, 255, 255, 0.7) !important;
  border: 3px solid rgba(30, 177, 173, 1);
}

.form-group select:focus {
  border: 3px solid #233060;
}


.input-group-addon {
  border: 3px solid rgba(30, 177, 173, 1);
  color: rgba(30, 177, 173, 1);
  background: transparent;
  border-right: 3px solid rgba(30, 177, 173, 1) !important;
}


/*Controlled with JS. I fucking hate CSS omg*/
.overlay-container {
  z-index: 0;
}
.overlay-img {
  position: absolute;
  display: block;
  height: 0px;
  width: 0px;
  margin: 0px;
  padding: 0px;
  z-index: -100;
  opacity: 0;
  background: url(/img/pat-hackfsu3.jpg) repeat;
}

.hidden-text {
  opacity: 0;
}


/*****************************************************************************
 * CHECKBOXES
 */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 9px;
  width: 14px; height: 14px;
  border: 2px solid rgba(30, 177, 173, 1);
  background: rgba(30, 177, 173, 0);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 9px; left: 0px;
  width: 14px; height: 14px;
  font-size: 14px;
  color: rgba(30, 177, 173, 1);
  background-color: rgba(30, 177, 173, 1);
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}




/*****************************************************************************
 * FILE UPLOAD
 */


/*****************************************************************************
 * RADIO BUTTONS
 */

/* Base for label styling */
[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}

[type="radio"]:not(:checked),
[type="radio"]:checked {
  position: absolute;
  left: -9999px;
}
[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left:0; top: 9px;
  width: 14px; height: 14px;
  border: 2px solid rgba(30, 177, 173, 1);
  background: rgba(30, 177, 173, 0);
}
/* checked mark aspect */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 9px; left: 0px;
  width: 14px; height: 14px;
  font-size: 14px;
  color: rgba(30, 177, 173, 1);
  background-color: rgba(30, 177, 173, 1);
  transition: all .2s;
}
/* checked mark aspect changes */
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
}
[type="radio"]:disabled:checked + label:after {
  color: #999;
}
[type="radio"]:disabled + label {
  color: #aaa;
}







/*****************************************************************************
 * BUTTONS
 */

.btn {
  font-family: 'Uni Sans';
  font-weight: 700;
  color: rgba(255, 255, 255, 1);;
  background-color: rgba(30, 177, 173, 1);
  border-radius: 5px;
  /*border: 3px solid rgba(30, 177, 173, 1);*/
  /*outline: 0;*/
  /*font-weight: bold;*/
  font-size: 1.5em;
  text-decoration: none;
  border:0;
}

.btn:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, .7);
  background-color: (30, 177, 173, .7);
  text-decoration: none;
}

.btn:focus {
  /*color: rgba(30, 177, 173, 0.7);*/
  /*outline: 0;*/
}


.btn-large {
  font-size: 1.5em;
  padding: 15px 25px 15px 25px;
}

.btn-header {
  font-size: 3em;
  margin: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  line-height: 1em;
  width: 6em;
}
.btn-header:hover {
  cursor: pointer;
  
}

.fadeHover:hover {
  opacity: .9;
}









/*****************************************************************************
 * HEADER 
 */
.header-cont {
  vertical-align: middle;
  background: url('../img/banner-bg-2.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 847px;
  text-align: center;
}
.header-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1004;
  /*background-color: #0D1F2D; /*complements teal well*/
  /*background-color: #C49991;  complements dark navy */

  background-color: rgba(0, 0, 0, 0.7);
}
.header-center {
  position: relative;
  top: 50%; 
  z-index:1005;
  width: 100%;
  text-align: center;
  margin-bottom: 3em;
  
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
.header-bottom {
  position: absolute;
  bottom: .2em;
  width: 100%;
  font-family: 'Uni Sans', sans-serif;
  font-weight: 700;
  text-align: center;
  
  font-size: 1.875em;
  z-index: 1006;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: rgba(30, 177, 173, 1);
  font-weight: bold;
  float: left;
}

.header-center img {
  margin-left: -3.1em;
  max-width: 30em;
  margin-bottom: 25px;
}


.header-motto {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}

/****************************************************************************/









.sect {
  margin-top: 5%;
  margin-bottom: 5%;
}


.notice {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 70px;
}

span {
  font-weight: bold;
}

body {
  margin: 0;
  /*background: url(../img/pat-hackfsu3.jpg) repeat center center;*/
}


h1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}



















p {
  color: #233060;
}

.credit {
  color: #ed748e;
}

.container {
  width: 100%;
  padding: 0px;
}

.containerbody {
  line-height: 2em;  
}
  



.containerfooter {
 background-color:#181818;
 width:100%;
 margin-top: 100px;
 height:150px;
 /*padding:70px 275px 0px 275px;*/
 padding-top:2em;

}

.containerfooter .socials {
  position: relative;
  /*margin-top: -40px;*/
  width: 100%;
   /*-webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);*/
}

.containerfooter .socials div {
  display:inline-block;
  margin: 10px;
  font-size: 40px;
  color: #ed748e;
}
.containerfooter .socials p {
  display:inline-block;
  margin: 10px;
}

.containerfooter .socials div:hover {
  color: #fff;
}

.containerHeader {
  padding-left: 15%;
  margin-bottom: 25px;
  margin-top: 6em;
}


.footer {
  padding-top: 100px;
}

::-webkit-input-placeholder {
   color: rgba(30, 177, 173, 0.8);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(30, 177, 173, 0.8);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(30, 177, 173, 0.8);  
}

:-ms-input-placeholder {  
   color: rgba(30, 177, 173, 0.8);  
}

:invalid {
    box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
}







/*****************************************************************************
 * ANIMATIONS
 */

.shakeText {
  -webkit-animation-name: shake;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: shake;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: linear;
  -o-animation-name: shake;
  -o-animation-duration: 0.5s;
  -o-animation-iteration-count: 1;
  -o-animation-timing-function: linear;
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shake {
  0% { -webkit-transform:      translate(5px, 0px) rotate(0deg); }
  10% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); }
  20% { -webkit-transform:     translate(5px, 0px) rotate(0deg); }
  30% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); }
  40% { -webkit-transform:     translate(3px, 0px) rotate(0deg); }
  50% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); }
  60% { -webkit-transform:     translate(5px, 0px) rotate(0deg); }
  70% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); }
  80% { -webkit-transform:     translate(3px, 0px) rotate(0deg); }
  90% { -webkit-transform:     translate(-1px, 0px) rotate(0deg); }
  100% { -webkit-transform:     translate(1px, 0px) rotate(0deg); }
}

@keyframes shake {
  0% { -webkit-transform:      translate(5px, 0px) rotate(0deg); transform:      translate(5px, 0px) rotate(0deg); }
  10% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); transform:     translate(-3px, 0px) rotate(0deg); }
  20% { -webkit-transform:     translate(5px, 0px) rotate(0deg); transform:     translate(5px, 0px) rotate(0deg); }
  30% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); transform:     translate(-3px, 0px) rotate(0deg); }
  40% { -webkit-transform:     translate(3px, 0px) rotate(0deg); transform:     translate(3px, 0px) rotate(0deg); }
  50% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); transform:     translate(-3px, 0px) rotate(0deg); }
  60% { -webkit-transform:     translate(5px, 0px) rotate(0deg); transform:     translate(5px, 0px) rotate(0deg); }
  70% { -webkit-transform:     translate(-3px, 0px) rotate(0deg); transform:     translate(-3px, 0px) rotate(0deg); }
  80% { -webkit-transform:     translate(3px, 0px) rotate(0deg); transform:     translate(3px, 0px) rotate(0deg); }
  90% { -webkit-transform:     translate(-1px, 0px) rotate(0deg); transform:     translate(-1px, 0px) rotate(0deg); }
  100% { -webkit-transform:     translate(1px, 0px) rotate(0deg); transform:     translate(1px, 0px) rotate(0deg); }
}








/*****************************************************************************
 * readmore.js
 */
.readmoreSect {
  display: block;
  width: 100%;
  /*max-height: 3em;*/
  
}
.readmoreLink {
  display: block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}












/*****************************************************************************
 * SPONSOR OF THE MONTH PAGE
 */

.sponsor-logo-3 {
  display: inline-block;
  margin: 10px;
  width: 100%;
  height: auto;
}
.sponsor-logo-2 {
  display: inline-block;
  margin: 10px;
  max-width: 200px;
  max-height: 100px;
}
.sponsor-logo-2-dbl {
  display: inline-block;
  margin: 10px;
  max-width: 400px;
  max-height: 100px;
}
.sponsor-logo-1 {
  display: inline-block;
  margin: 10px;
  max-width: 120px;
  max-height: 50px;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}



.navbar-spacer {
  width: 100%;
  height: 45px;
}

.page-header {
  width: 100%;
  text-align: middle;
  padding-top: 20px;
}

.banner {
 /* position: absolute;
  left: 0;
  right: 0;*/
  width: 100%;
  background-image: url(/img/sponsors/mailchimp_banner_color.jpg)
}
.banner img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8em;
}
@media (min-width: 1340px) {
  .banner img {
    width: 1340px;
  }
}
@media (max-width: 1339px) {
  .banner img {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.sponsor-blurb {
  margin-bottom: 8em;
}



.sponsor-questions {
  margin-top: 5em;
  vertical-align: middle;
}
.sponsor-questions table {
  margin-bottom: 5em;
}
.sponsor-questions tr {
  margin: 0px;
}
.sponsor-question {
  font-size: 36px;
  font-weight: 600;
  margin: 0px;
  padding-left: 15px;
}
.sponsor-answer {
  font-size: 24px;
  font-weight: 100;
  margin: 0px;
  padding-left: 15px;
}

.sponsor-old {
  opacity: .3;
}

.inside-banner {
  width: 100%;
  height: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}



/****************************************************************************
 * SPREAD THE WORD PAGE
 */
.shareable {
  margin: 1em;
  margin-bottom: 5em;
}
.shareable img {
  width: 100%;
  height: auto;
  max-width: 350px;
  margin-bottom: 1em;
}




/*****************************************************************************
 * MISC
 */

/*to keep footer at bottom in short pages*/
.footer-spacer {
  display:block;
  height:500px;
  
}

/*loading gif*/
#loading img {
  height: 30px;
  width: 30px;
  opacity: 0;
}

.resize {
    width: 400px;
    height: auto;
}

.resize {
    width: 300px;
    height: auto;
}



/*****************************************************************************
 * DEVICE COMPATABILITY 
 */

 @media all and (min-width: 959px) {
   .containerbody {
     max-width: 960px;
     padding-left: 84.4px;
     padding-right: 84.4px;
     margin-left: auto;
     margin-right: auto;
   }
 }
 @media all and (max-width: 959px) {
   .containerbody {
     width: 100%;
     padding-left: 9%;
     padding-right: 9%;
   }
 }

/* Desktop or bigger*/
@media all and (min-width: 1680px) {

}
/* Tablet Landscape */
@media all and (max-width: 1024px) and (min-width: 769px) {
  .btn-header {
    font-size: 2em;
  }
}
/* Tablet Portrait */
@media all and (max-width: 768px) and (min-width: 481px) {
  .btn-header {
    font-size: 2em;
  }
  .header-bottom {
    font-size: 1.8em;
  }
}
/* Mobile Landscape */
@media all and (max-width: 480px) and (min-width: 321px) {
  .btn-header {
    font-size: 1.7em;
  }
  .header-bottom {
    font-size: 1.3em;
  }

}
/* Mobile Portait */
@media all and (max-width: 320px) {
  .btn-header {
    font-size: 1.7em;
  }
  .header-bottom {
    font-size: 1.3em;
  }
  
  .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-inverse .navbar-toggle {
    border: none;
  }

  .navbar-inverse .navbar-nav>li>a {
    text-align: center;
    font-size: 2.5em;
    max-width: 12em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

/*Custom navbar collapse*/
@media (max-width: 880px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}