extend ../layout
block content
	.containerbody
		h1.singleLineText Email Management
	.container
		table.table
			thread
				tr
					th Email Template
					th Description
					th Actions
			tbody
				tr
					td applyConfirm
					td Application submission confirmation
					td (auto)
				tr
					td registrationSubscribe
					td Preview subscription email, saying registration is open
					td 
						button.btn.header-btn#registrationSubscribe(disabled) Send!
				tr
					td spreadTheWord
					td Spread the word about HackFSU email to all known emails
					td 
						button.btn.header-btn#spreadTheWord(disabled) Send!
	.footer-spacer

block localJavascript
	script(src='/js/admin/admin-emails.js')
		