extends ../_layouts/bootstrap
block vars
	- title = 'Admin'

block content
	h1 Admin Page
	
	p This is still in production, for now here are some links:
	ul
		li: a(href='/admin/hackers') Hacker Information
		li: a(href='/admin/schools') School Information
		li TODO: Mentor Information
		li TODO: Update sender
		li TODO: Check in
		li TODO: Hackathon Management
