extends ../_layouts/bootstrap
block vars
	- title = 'Admin'

block content
	h1 Admin Page
	
	p This is still in production, for now here are some links:
	ul
		li: a(href='/admin/hackers') Hacker Information
		li: a(href='/admin/schools') School Information
		li: a(href='/admin/stats') General Statistics
		li: a(href='/admin/updates') Update Sender
		li: a(href='/admin/mentors') Mentor Information
		li: a(href='/judge/signup') Judge Signup
		li: a(href='/admin/judges') Judge Management
		li: a(href='/admin/users') Base User Management
		li TODO: Check in
		li TODO: Hackathon Management
