extends ../_layouts/bootstrap
block vars
	- title = 'Admin | Stats'
	
block localJS
	script(src='/js/views/admin/stats.js')

block content
	h1 Stats
	
	.view.view-totals
		h3 Totals
		.loading-message Loading...
		.view-container
			table.table.table-striped.table-hover.table-bordered
				tbody
		
	.view.view-shirts
		h3 T-Shirts
		.loading-message Loading...
		.view-container
			table.table.table-striped.table-hover.table-bordered
				thead
					tr
						td: b Shirt Size
						td: b Count
				tbody
			
	.view.view-anons
		h3 Anon Stats
		.loading-message Loading...
	
