extends ../_layouts/bootstrap
block vars
	- title = 'Admin | Updates'

block localCSS
	link(rel='stylesheet' type='text/css' href='/bower_components/datatables/media/css/dataTables.bootstrap.min.css')

block localJS
	script(src='/bower_components/jszip/dist/jszip.min.js')
	script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
	script(src='/bower_components/datatables/media/js/dataTables.bootstrap.min.js')
	script(src='/bower_components/datatables-buttons/js/dataTables.buttons.js')
	script(src='/bower_components/datatables-buttons/js/buttons.bootstrap.js')
	script(src='/bower_components/datatables-buttons/js/buttons.html5.js')
	script(src='/bower_components/datatables-buttons/js/buttons.flash.js')
	script(src='/bower_components/moment/min/moment.min.js')
	script(src='/js/views/admin/updates.js')
	

block content
	h1 Updates
	
	br
	
	
	form
		h3 Create
		.form-group
			label(for='title') Title *
			input#title.form-control
		.form-group
			label(for='subtitle') Subtitle
			input#subtitle.form-control
		.form-group
			input#send-push(type='checkbox' checked)
			label(for='send-push') Send Push?
			
		
		button.btn.btn-primary.form-control(type='submit') Send
		
	
	br
	br
	br
	
	.view-updates
		h3 Updates
		table.table.table-striped.table-hover.table-bordered
			thead
				tr
					td Date
					td Title
					td Subtitle
