extend ../layout
block content
	p.message.
		#{firstName},<br>
		<br>
		Thank you for your interest in becoming a Mentor this Spring! We will be having a Crash Course on Mentorship a couple weeks out from the hackathon to get everyone on the same page. Keep a look out for an email with more information!<br>
		<br/>
		Don't hesitate to shoot us an email at <a href='mailto:info@hackfsu.com'>info@hackfsu.com</a> with any questions!<br>
		
		Cheers,<br/>
		<br/>
		<b>The HackFSU Crew</b><br/>
	
