extend ../layout
block content
	p.message.
		#{firstName},<br>
		<br>
		Thank you for your interest in becoming a Mentor this Spring! Keep a look out for an email with more information closer to the event!<br>
		<br/>
		Don't hesitate to shoot us an email at <a href='mailto:mentor@hackfsu.com'>info@hackfsu.com</a> with any questions!<br>
		<br>
		Cheers,<br/>
		<br/>
		<b>The HackFSU Crew</b><br/>
	
