|#{firstName},
|
|Thank you for your interest in becoming a Mentor this Spring! We will be having a Crash Course on Mentorship a couple weeks out from the hackathon to get everyone on the same page. Keep a look out for an email with more information!
|
|Don't hesitate to shoot us an email at info@hackfsu.com with any questions!
|
|Cheers,
|
|The HackFSU Crew