extend ../indexLayout

block content
	#dry-home.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title-fixed Registration
			.title-separator
			form#application(method='post', action='/apply_submit', role='form')
				ul#application-form
					li
						.form-col-left
							label(for='firstName') First Name *
						.form-col-right
							input#firstName(type='text', placeholder='What do your homies call you' name='firstName')
					li
						.form-col-left
							label(for='lastName') Last Name *
						.form-col-right
							input#lastName(type='text', placeholder='Whats the fam go by', name='lastName')
					li
						.form-col-left
							label(for='school') School *
						.form-col-right
							input#school(type='text', name='school', placeholder='Florida State University')
					li
						.form-col-left
							label(for='email') Email *
						.form-col-right
							input#email(type='email', name='email', placeholder='Whats your .edu')
					li
						.form-col-left
							label(for='year') Current Year *
						.form-col-right
							select#year(name='year', value='year')
								option(selected='true', disabled='true') Pick a year
								option(value='Freshman') Freshman
								option(value='Sophomore') Sophomore
								option(value='Junior') Junior
								option(value='Senior') Senior
								option(value='Graduate Student') Graduate Student
								option(value='High School Student') High School Student
					li
						.form-col-left
							label(for='major') Major
						.form-col-right
							input#major(type='text', name='major', placeholder='What books you readin')
					li
						.form-col-left
							label(for='github') GitHub
						.form-col-right
							input#github(type='text', name='github', placeholder='bet you have some mad PRs')
					li
						.form-col-left
							label(for='QA0') Will this be your first hackathon?
						.form-col-right
							label Yes
							input#hackYes(type='radio', name='QA0', value='Yes')
							label No
							input#hackNo(type='radio', name='QA0', value='No')
					li
						.form-col-left
							label(for='QA1') What is one thing you hate about hackathons?
						.form-col-right
							textarea#QA1(rows='4', name='QA1')
					li
						.form-col-left
							br
							label.dietary(for='QA3') Dietary restrictions?
						.form-col-right
							input#QA3(type='text', name='QA3', placeholder='Vegan, vegetarian, etc.')
					li
						.form-col-left
							label(for='QA4') Comments?
						.form-col-right
							input#QA4(type='text', name='QA4', placeholder="We're all ears!")
					li
						.form-col-left
							label(for='QA2') What do you want to learn or hack on for the weekend?
						.form-col-right
							input#ios(type='checkbox')
							label(for='ios') iOS
							br
							input#android(type='checkbox')
							label(for='android') Android
							br
							input#web(type='checkbox')
							label(for='web') Web
							br
							input#front(type='checkbox')
							label(for='front') Front End
							br
							input#back(type='checkbox')
							label(for='back') Back End
							br
							input#shelf(type='checkbox')
							label(for='shelf') 'Off The Shelf' Hardware: Myo, Oculus Rift, Leap Motion, etc.
							br
							input#micro(type='checkbox')
							label(for='micro') Microcontrollers: Arduino, Raspberry Pi, etc.
							br
							input#sleep(type='checkbox', disabled='true')
							label(for='sleep') Sleep
					li
						.form-col-right
							button#submit.btn.btn-form(type='submit') SUBMIT