extend ../layout
block content
	p.poem.
		Word got out that you were hella fly,<br/>
		And had hella style, ain’t no lie.<br/>
		Now this ain’t no time to take a chill-pill,<br/>
		Word on the street you lookin' for a thrill.<br/>
	p.message.
		March 20th is quickly approaching! You should be accepted shortly, at which point you will need to confirm your attendance to save a spot. We cannot house everyone that has applied, so act fast to make sure you can come. We can't wait to see you there!<br/>
		<br/>
		<br/>
		Keep it real, #{toFirstName}<br/><br/>
		<b>The HackFSU Crew</b><br/>
	
