| Hey #{toFirstName},
| 
| 
| We noticed you haven't confirmed your attendance for HackFSU yet. With March 20th quickly approaching, we have released our second round of acceptances. Act fast to save your spot!
| 
| Can't wait to see you there! 
| 
| Your personal confirmation page: http://hackfsu.com/confirm/#{confirmationId}
| 
| 
| Cheers,
| 
| The HackFSU Crew