extend ../indexLayout

block localJS
	script(src='/js/maps.js' type='text/javascript')
	script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAPFA-G6fLqiXxbhnZayxz7ahMZWoMM9X8&callback=initMap')

block content
	// Home
	#dry-home.home.section.relative
		.block.content-960.center-relative
			// Home text slider
			h1.big-tittle.montserrat-font.top-30 HackFSU
			br
			h1.big-countdown
			h1.big-date.monsterrat-font See you Next Spring!
		// Background Slider Navigation
		// Background Slider Holder
		ul#supersized
	// Services
	#about.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title FAQ
			.title-separator
			.row
				.faq-col
					h2 When and where?
					p.info Florida State University
				.faq-col
					h2 How can I get there?
					p.info We will be scheduling buses from the most interested and passionate schools! #[a(href='https://twitter.com/hackfsu' target='_blank') Tweet] at us and email #[a(href='mailto:bus@hackfsu.com') bus@hackfsu.com] if you want to coordinate one!
				.faq-col
					h2 Am I invited?
					p.info Anyone that is currently a college student or that has graduated in the past year is invited. High schoolers can go ahead and apply and we'll notify you if any problems come about.
			.row
				.faq-col
					h2 Not a student?
					p.info Become a mentor! Give back to the community by helping hackers learn and build something awesome. Sign up and we’ll reach out with more info!
				.faq-col
					h2 Food? Food.
					p.info Food. Enough free grub for a food coma. Dietary restrictions? No problem, we got you.
				.faq-col
					h2 How do teams work?
					p.info Teams have a maximum of 4. If you don’t have a team, no sweat, we will have a mixer for you to discuss ideas and meet other hackers to join forces.
			.row
				.faq-col
					h2 What should I bring?
					p.info Bring your student ID, laptop and charger, a change of clothes, resume, toiletries, and a pillow and sleeping bag may be useful. You do not need a team, idea, food or drink, or animals and leave anything illegal at home please.
				.faq-col
					h2 What's it gonna cost me?
					p.info Everything we provide including food, wifi, caffeine, swag, and a place to create is free!
				.faq-col
					h2 What can I build?
					p.info Whatever you can think up! We’ll have mentors to help you with web, mobile, hardware, design, and any development in between! #[a(href='https://www.youtube.com/watch?v=EbihiWx6Knw' target='_blank') TrakFree] and #[a(href='http://marymkelly.github.io/mood-mixer/' target='_blank') Moodologist] are some example projects from the past.
			.row(style='clear:both;')
				.faq-col
					h2 What if this is my first hackathon?
					p.info Awesome! We even have prizes for newcomers, as the best way to learn is by building. There will be mentors to help you every step of the way. We all start somewhere, why not here?
				.faq-col
					h2 How does registration work?
					p.info asdfadgadfbadffgasdgasd
				.faq-col
					h2 Wait but I have another question.
					p.info Shoot us an email at #[a(href='mailto:info@hackfsu.com') info@hackfsu.com] or just find us in the #[a(href='https://twitter.com/hackfsu' target='_blank') twittersphere]!
			br
			.full-width.top-150.bottom-100
				.picfull
			.clear
			.full-width.top-150.bottom-100
				img(src='img/theme/service_graphic_01.png')
		#sponsors.section
			.block.content-960.center-relative
				h2.section-title SPONSORS
				.title-separator
				p.info.sponsors Interested in sponsoring? Email #[a(href='mailto:sponsors@hackfsu.com') sponsors@hackfsu.com] for more information!
		.clear

		#contact.clear.contact.section.block
			h2#geo.section-title How fast could you be here?
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
