extend ../layout
block content
	p.message
		| Hey Mentor #{toFirstName},<br>
		br
		br

		| HackFSU Spring '15 is in three days! Here are a few things you need to know.<br>
		br
		
		| Opening Ceremony starts at 11 PM on Friday, March 20th with Hacking starting at Midnight.<br>
		br
		
		| Location: FSU Dirac Science Library 
		a(target='_blank', href='https://goo.gl/maps/7vdxu') https://goo.gl/maps/7vdxu
		br
		| Official Schedule: 
		a(target='_blank', href='http://www.hackfsu.com/schedule') http://www.hackfsu.com/schedule
		br
		br
		
		| Hackers will be able to ask for help in two ways. One will be an online help form, the other will be to walk up the Mentor Lounge. If you're getting this email you have a Mentor account, username is your email and the password is your phone number. This will only be needed during the event and you can sign in at 
		a(target='_blank', href='http://www.hackfsu.com/signin') http://www.hackfsu.com/signin
		| .<br>
		br
		
		| Parking is being sorted out now and should be on our site Thursday.<br>
		br
			
		| In addition to camping out at the Mentor Lounge, we encourage you to walk around and search for those in need of your expertise. The best thing you can do as a Mentor is be engaging throughout the hackathon. During the beginning hours of the hackathon, try to approach hackers who are still in the brainstorming phase as opposed to hackers who seem productive and focused.<br> 
		br
		br
		
		| We need help with Judging during the Expo/Demo Fair immediately following the hackathon. It will begin Sunday at 7:40 am and so we will need you to be there at 7:25 am. If you can make this, please reply to this email to let us know, it would be greatly appreciated.<br>
		br
		| Thank you for reading all of this and if you have any other questions don’t hesitate to shoot them over to 
		a(target='_blank', href='mailto:info@hackfsu.com') info@hackfsu.com
		| .<br>
		
		br
		br
		b.
			Best,<br>
			Joseph Mousa<br>
			Mentor Coordinator<br>
			(305) 479-7836<br>

