/*This is converted into inline styling*/

/* MAIN START */
body {
	color: #233263;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1em;
}

table.tableOuter {
	border: 0;
	width: 100%;
	height: 100%;
	background-color: #020715;
	padding: 2em;
}
table.tableOuter tr td {
	padding: 0;
}
table.tableInner {
	background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	padding: 2em;
}
table #tableInner tr td {
	padding: 2em;
}

td #header {
	width: 100%;
	height: auto;
	padding-bottom: 1em;
	
}
td #header img {
	display:block;
	width: auto;
	height:auto;
	max-height: 20em;
	padding-right:5em;
	
}
td #header span {
	font-family: 'Uni Sans', sans-serif;
	font-weight: 800;
	font-size: 5em;
	color: #020715;
}

td #content {
	width: 100%;
	height: auto;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 1.2em;
}
td #footer {
	width: 100%;
	height: auto;
	padding-top: 1em;
}

.unsubscribe {
	font-weight: 100;
	font-size: .7em;
	color: rgba(30, 177, 173, 1);
}
.unsubscribe a {
	color: rgba(30, 177, 173, 1);
}


/* MAIN END */
