| Word got out that you were hella fly,
| And had hella style, ain’t no lie. 
| Now this ain’t no time to take a chill-pill,
| Word on the street you lookin' for a thrill. 
| 
| March 20th is quickly approaching! You should be accepted shortly, at which point you will need to confirm your attendance to save a spot. We cannot house everyone that has applied, so act fast to make sure you can come. We can't wait to see you there!
| 
| 
| Keep it real, #{toFirstName}
| The HackFSU Crew
| 