extend ../layout
block content
	p.message.
		Hooray #{firstName}! You have been accepted to HackFSU!<br>
		<br>
		<br>
		
		<b>You have until Sunday March 8th, only 4 days, to confirm your attendance.</b> 
		Unfortunately, we cannot house everyone that has applied and so we will 
		need to be able to pull people off of the waitlist if you do not confirm 
		before then.<br>
		<br>
		We have been hard at work to make sure that you all have the best experience 
		possible. Don’t forget to participate in our contest over at 
		<a target="_blank" href='hackfsu.com/spreadtheword'>hackfsu.com/spreadtheword</a> 
		that ends this Friday! <br>
		<br>
		<b>To confirm your attendance or to say you cannot attend, go 
		<a target="_blank" href='hackfsu.com/confirm/#{confirmationId}'>HERE</a></b><br>
		
		<br>
		<br>
		Happy Hacking,<br>
		<br>
		<b>The HackFSU Crew</b><br>
	
