/**
* Schools list page
*/
#schools-page .students-list {
	padding-top: 0.75em;
}

#schools-page .students-list .student {
	margin-bottom: 0.5em;
}

#schools-page small {
	font-weight: 300;
}

#schools-page h3 small {
	font-size: 18px;
}
