//- 
	Homepage layout

extend base

block header
	a(id="mlh-trust-badge" style="position:fixed;top:0;right:50px;max-width:100px;width:10%;min-width: 60px;display:block;z-index:10000" href="https://mlh.io/seasons/s2016/events?utm_source=s2016&utm_medium=TrustBadge&utm_campaign=s2016" target="_blank")
		img(src="https://s3.amazonaws.com/logged-assets/trust-badge/s2016.png" alt="MLH Official - Spring 2016" style="width:100%;")
	//- Navigation Menu
	#main-menu.main-menu
		.center-relative.menu-holder
			.menu-logo.left
				img#logo(src='/assets/img/white_feather.png')
				h3.logotext HackFSU
			ul.right.montserrat-font
				li
					a(href='#schedule') SCHEDULE
				li
					a(href='#faq') FAQ
				li
					a(href='#travel') TRAVEL
				li
					a(href='#sponsors') SPONSORS
				li
					a(href='#register') REGISTER
				li
					a(href='/user/login') LOGIN
			.clear

block layoutJS
	script(src='/assets/vendor/drythemes-sensa/js/jquery.dryMenu.js')
