extends ../../_layouts/user

block vars
	- title = 'Mentor | Help Requests'

block localCSS
	link(rel='stylesheet' type='text/css' href='/bower_components/datatables/media/css/jquery.dataTables.min.css')
		
block localJS
	script(src='/bower_components/moment/min/moment.min.js')
	script(src='/bower_components/datatables/media/js/jquery.dataTables.min.js')
	//- script(src='/socket.io/socket.io.js')
	script(src="/js/views/mentor/helprequests.js")

block content
	#help-request-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title-fixed.singleLineText Help Requests
			.title-separator
			
			p Hey mentors, go out out and help people! When you are about to go help somone, assign the request to yourself so that the other mentors know it is being handled. The table auto-refreshes every 30 seconds.
			
			br
			br
			br
			
			#helpreq-section
				table#helpreqs.dataTable
					thead
						tr
