extends ../../_layouts/standard

block vars
	- title = 'Mentor | Help Requests'

block localCSS
	link(rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css")
		
block localJS
	script(src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js")
	script(src="/js/helpreqs.js")

block content
	script(src='/socket.io/socket.io.js')
	script.
			var socket = io.connect('http://localhost:5003');
			socket.on('news', function (data) {
				console.log(data);
				socket.emit('another event', { my: 'data' });
			});

	#help-request-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title-fixed.singleLineText Help Requests
			.title-separator
			
			#helpreq-section
				table#helpreqs.dataTable
					thead
						tr
							th Name
							th Location
							th Description
							th Actions
					tbody
						each req in helpReqs
							tr 
								td= req.get('name')
								td= req.get('location')
								td= req.get('description')
								td
									button.btn.btn-help(type='') Assign to Me
						if helpReqs.length === 0
							tr 
								td(colspan="4") No help requests
