extend ../layout
block content
	p.message
		| Hey #{toFirstName},
		br
		br
		br
			
		| It's already less than a month away from 
		a(target='_blank', href='http://hackfsu.com/') HackFSU
		| , time for a status update!
		br
		br
		
		| We have set up a 
		a(target='_blank', href='https://www.facebook.com/events/400602133450423/') Facebook Event page
		|  for this year. Join for updates and invite your friends!
		br
		br
		
		| Enter for a chance to win a mini drone by posting up our prints and tweeting at us with them! We've made our flyer and poster available for you guys to use. Checkout 
		a(target='_blank', href='http://hackfsu.com/spreadtheword') hackfsu.com/spreadtheword
		|  to download them!
		br
		br
		
		| We will be organizing travel soon so stay tuned! If you are interested in coordinating travel for your school shoot us an email at 
		a(href='mailto:info@hackfsu.com') info@hackfsu.com
		| !
		br
		br
		
		| Lastly, we want everyone to wear their freshest 90's gear to HackFSU! You can swing by your local thrift shop or watch our 
		a(target='_blank', href='https://www.facebook.com/video.php?v=10205206646859364&set=o.400602133450423&type=2&theater') video
		|  for some ideas :)
		br
		br
		br
		
		| Cheers,
		br
		br
		b The HackFSU Crew
		br
	
