| Hey #{toFirstName},
| 
| It's already less than a month away from HackFSU, time for a status update!
| 
| We have set up a Facebook Event page for this year over at FBLINK HERE. Join for updates and invite your friends!
| 
| Enter for a chance to win a mini drone by posting up our prints and tweeting at us with them! We've made our flyer and poster available for you guys to use. Checkout hackfsu.com/spreadtheword to download them!
| 
| We will be organizing travel soon so stay tuned! If you are interested in coordinating travel for your school shoot us an email at info@hackfsu.com! 
| 
| Lastly, we want everyone to wear their freshest 90's gear to HackFSU! You can swing by your local thrift shop or watch our video(LINK THAT WORD) for some ideas 
| 
| Cheers,
| The HackFSU Crew