extend ../_layouts/standard
block vars
	- title = 'Profile'
	
block content
	.clear.services.section.block
	if accessDenied
		.access-denied
			h3 Access Denied
		br
	
	h1: a(href='/admin/') >>>>>> ADMIN PAGES <<<<<<

	h3 Trevor format this
	p !{JSON.stringify(user, undefined, 2).replace(/\n/g, '<br>'))}
