extend ../_layouts/standard
block vars
	- title = 'Profile'
	
block content
	.clear.services.section.block
	if accessDenied
		.access-denied
			h3 Access Denied
		br
	
	h1: a(href='/admin/') >>>>>> ADMIN PAGES <<<<<<
	if !acl.isRole.Judge && (!acl.isRole.Hacker || acl.canAccess.Admin)
		h1: a(href='/judge/userSignup') Sign up to become a Judge
		
	
	
	.debug
		h3 ACL
		p !{JSON.stringify(acl, undefined, 2).replace(/\n/g, '<br>'))}
		
		br
		br
		
		h3 User Data
		p !{JSON.stringify(user, undefined, 2).replace(/\n/g, '<br>'))}
