extend ../_layouts/standard
block vars
	- title = 'Profile'
	
block content
	.clear.services.section.block
	if accessDenied
		.access-denied
			h3 Access Denied
		br
	
	h1: a(href='/admin/') >>>>>> ADMIN PAGES <<<<<<

	if acl.isRole.User
		h4 is role #{user.firstName}
	if acl.canAccess.User
		h4 can access #{user.firstName}
		
	if acl.canAccess.Mentor
		a(href='/help') Look at help requests

	h3 Trevor format this
	p !{JSON.stringify(user, undefined, 2).replace(/\n/g, '<br>'))}
	
	
	h4= user.firstName
