doctype html
html
	head
		// Latest compiled and minified CSS
		link(rel='stylesheet' type='text/css' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800')
		link(rel='stylesheet' type='text/css' href='/css/views/preview.css')
	body
		.container: .video-cont: .image-bg: #video-bg
			.video-color
			.video-overlay
					.logo-header
							h1 HACKFSU '16
							img(style='width: 52%; height:auto; padding-top:1em;' src='img/white_feather.png')
					.content
							#preview-content
									p#description-text
										| To be a hacker comes with an attitude of building to learn,
										| creating to build, and learning to create. Our Florida State
										| University organizing team is hard at work and we cannot wait
										| to see what you all bring to the table this Spring. Hack on.
									#vidForm
										form.video-form(role='form' method='post' name='previewEmailSubscribe')
											input.video-input(type='text' name='email'
												placeholder='student@uni.edu'
												autocorrect='off' autocomplete='off')
											button.video-btn(type='submit' form='previewEmailSubscribe') SUBSCRIBE
											.hackform-success(style='display: none')
												h2 Thanks! 
												p 
													| We will let you know when registration opens and 
													| we cannot wait to see you this Spring! In the meantime, 
													| check us out on 
													a(href='#{store.links.twitter}' target='_blank') twitter
													|  for other updates.

									p#be-the-first Be the first to find out when registration opens!
	
											
			video(src='/res/hackfsu15-loop.webm' loop='true' autoplay='true')
			.mobileBG
					
		script(src='/bower_components/jquery/dist/jquery.min.js')
		script(src='/bower_components/jquery-ui/ui/minified/widget.min.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src='/js/main.js')
		script(src='/js/views/hackForm.js')
		script(src='/js/views/preview.js')
