| Congrats #{firstName}, you have been accepted to HackFSU! 
| 
| 
| Below is a link to confrim your attendance, act fast to snag your spot! We cannot house everyone that has applied and so we will need to be able to pull people off of the waitlist. 
| 
| We have been hard at work to make sure that you all have the best experience possible. Don’t forget to participate in our contest over at hackfsu.com/spreadtheword which now ends March 18th! The winner will be announced at the opening ceremony.
| 
| Your personal confirmation page: http://hackfsu.com/confirm/#{confirmationId}
| 
| 
| See you soon!
| The HackFSU Crew