| HackFSU is taking over the Dirac Library on March 20th-22nd!
| 
| If you have not already signed up, you can do so at hackfsu.com/apply. You will have the chance to meet some amazing engineers and recruiters from the industry. There will be representatives and mentors from our sponsors including MailChimp, Ionic Security, and a bunch more!
| 
| Join 350 other students for 30 straight hours as we fuel you with free food and caffeine for the whole weekend. Team sizes are capped at four attendees and you will use the time to learn as much as you can and build anything you can think of. We are busing in students from all over Florida and the South East which means there will be plenty of people looking for a team or idea.
| 
| Have no idea how to code or build out an idea? That is a perfect reason to attend! We will be providing you with plenty of mentors and the perfect environment to learn as much as you can in the 30 hours. Most students are surprised with what they can make at their first hackathon. Just ask any of our students from TechNole who have attended hackathons all over the country at universities such as Virginia Tech, Stanford, Michigan, Duke, and Georgia Tech.
| 
| Don't hesitate to send any questions over to info@hackfsu.com. See you there and don't forget your 90's gear!
| 
| P.S. - If you need any inspiration for gear, be sure to checkout our video
| 
| 
| Cheers,
| The HackFSU Crew