extend ../layout
block content
	p.message
		| #{toFirstName},<br>
		br
		br
		
		
		| Today is the last day we can guarantee your spot! We will be sending out acceptances to other students after Monday night. The sooner you 
		a(target='_blank', href='http://hackfsu.com/confirm/#{confirmationId}') confirm
		|  your spot, the better chance you have at being able to attend!<br>
		br
		| We hope to see you here!<br>
		
		
		br
		br
		| Cheers,<br>
		br
		b
			| The HackFSU Crew<br>

//- Subject: It's time! Are you ready?