| #{firstName},
| 
| 
| Today is the last day we can guarantee your spot! We will be sending out acceptances to other students after Monday night. The sooner you confirm your spot, the better chance you have at being able to attend!
| 
| We hope to see you here!
| 
| 
| Cheers,
| 
| The HackFSU Crew