extend ../layout
block content
	p.message
		//- | Status: Accepted
		//- br
		
		| Hello CS department!<br>
		br
		br
		
		
		b TODO
		
		
		br
		br
		| Hurr Durr<br>
		br
		b
			| The HackFSU Crew<br>

//- Subject: It's time! Are you ready?