extend ../layout
block content
	.container
		div(class='panel panel-default')
			div.panel-heading
				| People
			table.table
				thead
					tr
						th ID
						th Name
						th School
						th Email
				tbody

