extend ../layout
block content
	.container
		div(class='panel panel-default')
			.panel-heading
				h3.panel-title= title
			.panel-body
				p.
					Emails can be sent through this form.
				p
					strong Future features: 
					| Support for array insertion, allowing you to insert array elements into
					| emails (such as API codes) from formatted data like CSV or JSON. Support
					| for to-filtering, so you can specify a custom subset of people to send the 
					| email to. 

				form.form-horizontal(name='email', method='post', action='/email/send', role='form')
					.form-group
						label(for='email', class='col-lg-2 control-label') Subject
						.col-lg-6
							input#subject(type='text', class='form-control' placeholder='Enter a subject', name='subject', value=subject)
					.form-group
						label(for='message', class='col-lg-2 control-label') Message
						.col-lg-6
							textarea#message(class='form-control', rows='4', name='message', placeholder='Enter a message', value=message)
					.form-group
						div(class='col-lg-offset-2 col-lg-5 pull-right')
							button(type='submit', class='btn btn-primary') Send