extend ../layout
block content
    .container
        div(class='panel panel-default')
            .panel-heading
                h3.panel-title= title
            .panel-body
                p.
                    Hey, people are going to register through this form. It's not prettty
                    yet, but it will be!

                form.form-horizontal(name='registration', method='post', action='/register/submit', role='form')
                    .form-group
                        label(for='register_firstName', class='col-lg-2 control-label') First Name
                        .col-lg-6
                            input#register_firstName(type='text', class='form-control' placeholder='Put your first name here', name='register_firstName', value=register_firstName)
                    .form-group
                        label(for='register_lastName', class='col-lg-2 control-label') Last Name
                        .col-lg-6
                            input#register_lastName(type='text', class='form-control', name='register_lastName', placeholder='And put your last name here', value=register_lastName)
                    .form-group
                        div(class='col-lg-offset-2 col-lg-5 pull-right')
                            button(type='submit', class='btn btn-primary') Send!
