extends _layouts/standard

block content
	#error-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title= message
			br
			if starwars
				br
				h2 Just kidding... But this is not the <a href="https://www.youtube.com/watch?v=8yy3q9f84EA&feature=youtu.be&t=1m37s">page</a> you're looking for.
			else
				p= error.stack
