extend layout

block localCSS
	//- link(rel="import", href="/bower_components/paper-button/paper-button.html")

block localJavascript
	script(src='/bower_components/readmore/readmore.min.js')
	script(src='/js/public/public-index.js')
	

block content
		.header-cont
			.header-overlay
			.containerbody.header-center
				a.cleanLink(target='_blank' href='//www.youtube.com/watch?v=NyAzdjWNNQg')
					img#logoBtn(src='img/logo-header.png')
				h1.singleLineText.header-motto
					a.cleanLink(target='_blank' href='http://youtu.be/vimZj8HW0Kg?t=10s') "Don't call it a comeback"
				
				a.cleanLink(href='/apply')
					.btn.btn-header#applyBtn Apply
				.btn.btn-header#sponsorBtn Sponsor
				a.cleanLink(href='https://www.facebook.com/video.php?v=10205206646859364&set=o.400602133450423&type=2&theater')
					.btn.btn-header#hypeBtn GET HYPED
				
				div(style='clear: both')

			.header-bottom.
				March 20th - 22nd
				<br>Tallahassee FL &#8226; 30 Hours
		.containerbody
			h1.singleLineText The Hacking Culture
			.readmoreSect
				| Student hackathons have exploded all over the US, Canada, and the UK mainly because the returning rate of hackers is insane. Organizers are struggling to meet the demand of hacking spots while hackers are constantly looking for the next event, often throwing their own. Once you attend one you're hooked. The sense of community is unrivaled from any other kind of event in the nation and it has been formed from the common goal to hack. To be a hacker comes with an attitude of building to learn, creating to build, and learning to create. Come find out what hacking means to you as we throw the best <span>90's hackathon </span>Florida and the South East will ever see. 

				h3 What is a hackathon?
				| An event usually lasting anywhere from twenty four to forty eight hours that brings in software and hardware engineers, designers, and other inspired students to create team projects, or hacks, from scratch. We work with sponsors, recruiters, and mentors to ensure that every hacker has an amazing time and learns as much as they can. Hackathons change lives every weekend, read up on them by <a class="link-text" target='_blank' href='https://medium.com/search?q=hackathons'>searching for blog posts</a> written by the community. You can start with <a class="link-text" target='_blank' href='https://medium.com/hackathons-anonymous/wtf-is-a-hackathon-92668579601'>WTF is a hackathon?</a> by our buddy Dave Fontenot. 


			.sect
				h1.singleLineText FAQ

				.row
					.col-md-4
						h3 Who can go?

						| Anyone that is currently a college student or that has graduated in the past year is allowed to hack! High Schoolers can go ahead and apply and we'll notify you if any problems come about.
					.col-md-4
						h3 When & Where is it?

						| The hackathon will take place inside of the 
						a.link-text(href="http://www.google.com/maps/place/Dirac+Science+Library/@30.445006,-84.299961,15z/data=!4m2!3m1!1s0x0:0x68e88c654fcf10f8") Dirac Science Library
						| &#32;on the Florida State University campus. It will begin on Friday, March 20th and end on Sunday, March 22nd. We will be releasing a more comprehensive schedule closer to the event.
					.col-md-4
						h3 Not a student?

						| Mentor! Give back to the community by helping hackers learn and build something awesome. 
						a.link-text(href='/mentor') Sign up here!
						

				<br/>

				.row
					.col-md-4
						h3 Travel Reimbursement?

						| We will be scheduling buses from the most interested and passionate schools! Tweet at us and email <a class="link-text" target='_blank' href='mailto:bus@hackfsu.com'> bus@hackfsu.com </a> if you want to organize one!
						
					.col-md-4
						h3 Prizes?

						| Of course we’ll have them, but we value the learning and community more than anything else. Rest assured that the weekend spent will be well worth it and one to remember. 
					.col-md-4
						h3 How does registration work?

						| Once registration closes we will be going over every application. Preference will be given to hackers in Florida and the South East. Once the acceptance and wait-lists have been decided you will be notified through email. At that point you will need to confirm your attendance to save your spot.
					

				<br/>
				.row
					.col-md-4
						h3 What about food?

						| We'll fill you with enough free food and caffeine to keep you hacking the full 30 hours!
					.col-md-4
						h3 What can I do before the hackathon?

						| Head on over to <a class="link-text" target='_blank' href='http://hh.gd'>Hackathon Hackers</a>, a Facebook community of over 10,000 student hackers all across the country. We suggest finding a couple HH subgroups to follow to get the most out of it.
					.col-md-4
						h3 More questions?

						| Awesome, we love questions! How else can you learn? Shoot us an email at <a class="link-text" target='_blank' href='mailto:info@hackfsu.com'>info@hackfsu.com</a> or just find us in the <a class="link-text" target='_blank' hclass="link-text" href='https://twitter.com/hackfsu'>twittersphere</a>! 


			.sect
				a.link-text(name='sponsors')
				h1.singleLineText Sponsors
				//- 
					h3 Sponsor of the Month
					a.cleanLink(href="//mailchimp.com")
						img.inside-banner(src="/img/sponsors/mailchimp_banner.jpg")
					center
						a.cleanLink(href="/sponsor")
							.btn.btn-large Learn More
				
				//- Tier 3
				.row.text-center
					.col-sm-6: a(target='_blank', href='http://mailchimp.com/')
						img.sponsor-logo-3(alt='MailChimp', src='/img/sponsors/logos/mailchimp-block.jpg')
					.col-sm-6: a(target='_blank', href='https://ionicsecurity.com')
						img.sponsor-logo-3(alt='Ionic', src='/img/sponsors/logos/ionic.jpg')
				br
				hr
				br
				
				
				//- Tier 2
				.row.text-center
					.col-sm-4: a(target='_blank', href='http://valefoodco.com/')
						//- PLACEHOLDER
						img.sponsor-logo-2(alt='Vale Food', src='/img/sponsors/logos/valefoodco-block.png')
					.col-sm-4: a(target='_blank', href='http://www.technolegy.org/')
						img.sponsor-logo-2(alt='TechNole', src='/img/sponsors/logos/technole-block.png')
					.col-sm-4: a(target='_blank', href='http://www.domistation.com/')
						//- PLACEHOLDER
						img.sponsor-logo-2(alt='Domi', src='/img/sponsors/logos/domi.jpg')
				br
				.row.text-center
					.col-sm-offset-1.col-sm-6: a(target='_blank', href='https://fsudelivery.com/')
						img.sponsor-logo-2-dbl(alt='Starbucks, Renegade Runner', src='/img/sponsors/logos/Starbucks-RenegadeRunner.png')
					.col-sm-3: a(target='_blank', href='https://www.codeschool.com/')
						img.sponsor-logo-2(alt='Code School', src='/img/sponsors/logos/CodeSchool.jpg')
				
				br
				hr
				br
				
				//- Tier 1
				.row.text-center
					.col-sm-3.vcenter: a(target='_blank', href='https://www.uberops.com/')
						img.sponsor-logo-1(alt='Uber', src='/img/sponsors/logos/uber.png')
					.col-sm-3.vcenter: a(target='_blank', href='http://sga.fsu.edu/oei/')
						img.sponsor-logo-1(alt='OEI', src='/img/sponsors/logos/oei.png')
					
					.col-sm-3.vcenter: a(target='_blank', href='http://fitc.cci.fsu.edu')
						img.sponsor-logo-1(alt='FITC', src='/img/sponsors/logos/FITC.png')
					.col-sm-3.vcenter: a(target='_blank', href='http://genivia.com/')
						img.sponsor-logo-1(alt='Genivia', src='/img/sponsors/logos/genivia.png')
				
					.col-sm-3.vcenter: a(target='_blank', href='http://jmi.fsu.edu/')
						img.sponsor-logo-1(alt='JMI', src='/img/sponsors/logos/JMI.jpg')
					.col-sm-3.vcenter: a(target='_blank', href='http://strategicdigitalservices.net/')
						//- PLACEHOLDER
						img.sponsor-logo-1(alt='SDS', src='/img/sponsors/logos/SDS.png')
				
				
				br
				hr
				br
				//- MLH
				.row.text-center
					.col-sm-4.col-sm-offset-4:  a(target='_blank', href='http://mlh.io/')
						img.sponsor-logo-1(alt='MLH', src='/img/sponsors/logos/mlh.png') 
				
				br
				br
				br
				| Interested in sponsoring? Shoot us an email at <a class="link-text" target='_blank' href='mailto:sponsors@hackfsu.com'>sponsors@hackfsu.com</a>!
				//- <br><br><br><br>
				//- .sponsor-old
				//- 	h3 Past Sponsors
					
				//- 	img(src='/img/sponsors/sponsors_2014.png', width="100%", height="auto")