extend layout
block content
		.header-cont
			.image-bg

			div(id='video-bg')
				.video-color
				.video-overlay
					a(target='_blank' href='https://www.youtube.com/watch?v=NyAzdjWNNQg')
						img(src='img/logo-header.png')
					h1
						a(target='_blank' href='https://www.youtube.com/watch?v=vimZj8HW0Kg') "Don't call it a comeback"
					//h1.
						//Registration opens January 9th.

					a(href='/apply')
						div(class='btn btn-header', id='applyBtn') Apply
					a(href='#sponsors')
						div(class='btn btn-header', id='sponsorBtn') Sponsor
					div(style='clear: both')

				.foot.
					Tallahassee FL &#8226; 30 Hours


		// .jumbotron
			// h1 HackFSU
				// p.
					// Welcome to the HackFSU Website			
		

		.containerbody
			
			.notice
				| <b>NOTICE</b>: We realize that there is no date released, we apologize. We want you guys to have the most rad-tacular time possible. In doing so, we are currently working with multiple venue's to make sure you have the best experience. Follow us on <a href='https://twitter.com/hackfsu'>Twitter</a> and <a href='/apply'>Apply</a> to get notified!  -- The HackFSU Crew

			
			h1 The Hacking Culture

			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris nunc, dictum maximus purus a, pharetra commodo ante. Sed molestie sapien nec dolor lacinia egestas. Vestibulum congue justo non urna maximus, eu mollis est ultrices. Proin dapibus libero ut sollicitudin aliquam. Sed sodales quam sed est mattis, at pellentesque eros bibendum.

			.sect
				h1 FAQ

				.row
					.col-md-4
						h3 Who can go?

						| Anyone that is currently a college student or that has graduated in the past year is allowed to hack! High Schoolers can go ahead and apply and we'll notify you if any problems come about.
					.col-md-4
						h3 When & Where is it?

						| Check out the notice above, but we can assure you that it will take place in Tallahassee in close proximity to Florida State University. We will also be releasing the schedule closer to the event.  
					.col-md-4
						h3 Not a student?

						| Mentor! Give back to the community by helping hackers learn and build something awesome. Shoot us an <a href='mailto:info@hackfsu.com'>email</a> and we’ll go from there. 

					

				<br/>

				.row
					.col-md-4
						h3 Travel Reimbursement?

						| We will be scheduling buses from the most interested and passionate schools! Tweet at us and email <a href='mailto:bus@hackfsu.com'> bus@hackfsu.com </a> if you want to organize one!
						
					.col-md-4
						h3 Prizes?

						| Of course we’ll have them, but we value the learning and community aspects over huge monetary prizes. Rest assured that the weekend spent will be well worth it and one to remember. 
					.col-md-4
						h3 How does registration work?

						| Once registration closes we will be going over every application. Preference will be given to hackers in Florida and the South East. Once the acceptance and wait-lists have been decided you will be notified through email. At that point you will need to confirm your attendance to save your spot.
					

				<br/>
				.row
					.col-md-4
						h3 What can I do before the hackathon?

						| Head on over to <a target='_blank' href='http://hh.gd'>Hackathon Hackers</a>, a FaceBook community of over 10,000 student hackers all across the country. We suggest finding a couple HH subgroups to follow to get the most out of it.
					.col-md-4
						h3 More questions?

						| Awesome, we love questions! How else can you learn? Shoot us an email at <a href='mailto:info@hackfsu.com'>info@hackfsu.com</a> or just find us in the <a href='https://twitter.com/hackfsu'>twittersphere</a>! 


			.sect
				a(name='sponsors')
					h1 Sponsors

				| Interested in sponsoring? Shoot us an email at <a href='mailto:sponsors@hackfsu.com'>sponsors@hackfsu.com</a>!

block localJavascript	
	script(src='js/parse.js')
