extend layout
block content
	.container
		.video-cont
			.image-bg

			div(id='video-bg')
				.video-color
				.video-overlay
					img(src='img/ninetiesFeather.png')
					h1
						a(target='_blank' href='https://www.youtube.com/watch?v=vimZj8HW0Kg') Don't call it a comeback.
					h1.
						Registration opens January 9th.

					div(id='vidForm')
						form.video-form(id='previewEmailSubscribe', action='', role='form')
							input#email(spellcheck='off', type='text', class='video-input', name='email', autocomplete='off', placeholder='Email Here', value=email)
							button(type='submit', id='submit', class='video-btn') Get Notified
					
				video(loop, autoplay)
					source(type='video/mp4', src='res/hackfsu_bgv2.mp4')

				.mobileBG

	.jumbotron
		h1 HackFSU
		p.
			Welcome to the HackFSU Website
	p.
		HackFSU is lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mauris nunc, dictum maximus purus a, pharetra commodo ante. Sed molestie sapien nec dolor lacinia egestas. Vestibulum congue justo non urna maximus, eu mollis est ultrices. Proin dapibus libero ut sollicitudin aliquam. Sed sodales quam sed est mattis, at pellentesque eros bibendum.

	.row
		.col-md-4
			Quisque rutrum pharetra orci, eget lacinia velit commodo non. Mauris venenatis at tellus nec efficitur. Suspendisse lobortis ex in semper tincidunt. Nunc in tincidunt tortor. Cras et diam id lectus tincidunt placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ultrices enim at turpis volutpat tempus.
		.col-md-4
			Quisque rutrum pharetra orci, eget lacinia velit commodo non. Mauris venenatis at tellus nec efficitur. Suspendisse lobortis ex in semper tincidunt. Nunc in tincidunt tortor. Cras et diam id lectus tincidunt placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ultrices enim at turpis volutpat tempus.
		.col-md-4
			Quisque rutrum pharetra orci, eget lacinia velit commodo non. Mauris venenatis at tellus nec efficitur. Suspendisse lobortis ex in semper tincidunt. Nunc in tincidunt tortor. Cras et diam id lectus tincidunt placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer ultrices enim at turpis volutpat tempus.

