include ./logo.jade

doctype html
html(lang='en')
	
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content="Tallahassee, FL. 30 hours.")
		meta(name='author', content='HackFSU')
		meta(property='og:image', content='img/hackfsu-post.jpg')
		meta(property='og:title', content="Don't Call It a Comeback.")
		meta(name="google-site-verification", content="suuzMNcGGtUdtvQ1Te8M3HxORys7IlGjkDLvOGOkpA8")
		

		link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Montserrat:400,700', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='css/drytheme/clear.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/carouFredSel.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/supersized.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/common.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/prettyPhoto.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/accordion-tabs.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/style.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/isotope.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/colors.css' type='text/css')
		link(rel='stylesheet' href='css/drytheme/responsive.css' type='text/css')
		link(rel='stylesheet' href='css/square-corners.css' type='text/css')
		
		//- <script src="/bower_components/webcomponentsjs/webcomponents.min.js"></script>
		block localCSS

		title HackFSU '15 | #{title}
	body
		.main-menu.main-menu-fixbg#main-menu
			.center-relative.menu-holder
				.menu-logo.left
					img(alt='HackFSU' src='img/logo-nav.png' style='max-width: 200px; height: auto; margin-top: 4px;')
				
				ul.right.montserrat-font
					li.active
						a(href='/register') REGISTER 
					li
						a(href='#') TEST
				.clear
		
		.home.section.relative#dry-home
			.block.content-960.center-relative
				
				block content
