extend ../_layouts/standard

block vars
	- title = 'No!'
block content
	#confirm-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title-fixed.singleLineText.margin-left-7.margin-right-15 No!
			.title-separator.margin-left-7
			if notReady
				h3 NO STAHP THIS PAGE ISN'T READY FOR YOU YET!
				br
				
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
			img(src='/assets/img/nogodno.gif')
