html
	body
		.table-outer
			.table-center
				.header
					img(src='http://hackfsu.com/img/ninetiesFeather.png')
						
				.content
					block content
					
				.footer
					| -- 
					br
					| HackFSU