extends ../_layouts/standard.jade

block localJS
	script(src='/js/nouislider.min.js' type='text/javascript')
	script(src='/js/judging.js' type='text/javascript')

block localCSS
	link(rel="stylesheet" href="/assets/css/nouislider.css")
	link(rel="stylesheet" href="/assets/css/judge.css")

block content
	#confirm-page.clear.services.section.block
		.block.content-960.center-relative
			h2.section-title Total Points: #[span#judgingpoints 3]
			.title-separator
			.one_third
				.hero.judgehack1 Hack #[span.judgehack2 #1]
			.two_third.last
				#jslider1
			br
			br
			br
			.one_third
				.hero.judgehack1 Hack #[span.judgehack2 #2]
			.two_third.last
				#jslider2
			br
			br
			br
			.one_third
				.hero.judgehack1 Hack #[span.judgehack2 #3]
			.two_third.last
				#jslider3
			.clear
			.hero.judgehack1(style='text-align:center;') Categories
			br
			.judgehack2 Best New-Comer Team #[span.judgehack1 (required)]
			select
				option 1
				option 2
				option 3
			br
			br
			.judgehack2 Best Veteran Team #[span.judgehack1 (required)]
			select
				option 1
				option 2
				option 3
			br
			br
			.judgehack2 Most Ridiculous
			select
				option 1
				option 2
				option 3
			br
			br
			.judgehack2 Design
			select
				option 1
				option 2
				option 3
			br
			br
			.judgehack2 Hardware
			select
				option 1
				option 2
				option 3
			br
			br
			.judgehack2 Mobile
			select
				option 1
				option 2
				option 3
			br
			br