extends ../_layouts/standard.jade

block localJS
	script(src='/js/nouislider.min.js' type='text/javascript')
	script(src='/js/judging.js' type='text/javascript')

block localCSS
	link(rel="stylesheet" href="/assets/css/nouislider.css")
	link(rel="stylesheet" href="/assets/css/judge.css")

//judge screen 1
block content
	#judge1.clear.services.section.block
		.block.content-960.center-relative
				#judgemain
					.hellojudge.happy.section-title-fixed.singleLineText <img id='titlePiece' src='/assets/img/titlepieces1.png' style='z-index:-1; width:15%;' />HAPPY 
					br
					br
					.hellojudge.judging.section-title-fixed.singleLineText JUDGING 
					br
					br
					.plist BELOW IS A LIST OF HACKS THAT YOU WILL BE JUDGING:
					.p Project #
					.p Project #
					.p Project #
					br
					button#beginjudge.judge-btn.judge-btn-form(type='submit') LET'S BEGIN
					br
				//screen 2
				#judge2
					br
					br
					h2.judges Total Points: #[span#judgingpoints 3]
					.title-separator
					br
					.one_third
						.hero.judgehack1 Hack #[span.judgehack2 #1]
					.two_third.last
						#jslider1
					br
					br
					br
					.one_third
						.hero.judgehack1 Hack #[span.judgehack2 #2]
					.two_third.last
						#jslider2
					br
					br
					br
					.one_third
						.hero.judgehack1 Hack #[span.judgehack2 #3]
					.two_third.last
						#jslider3
					.clear
					br
					br
					.hero.judgehack1.categoryTitle Categories
					br
					br
					.judgehack2.categories Best New-Comer Team
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					.judgehack2.categories Best Veteran Team
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					.judgehack2.categories Best Collaborative Team
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					.judgehack2.categories Most Ridiculous
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					.judgehack2.categories Best Design
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					.judgehack2.categories Best Hardware
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					.judgehack2.categories Best Mobile
					select.optionheight
						option None Selected
						option 1
						option 2
						option 3
					br
					br
					button#endjudge.judge-btn.judge-btn-form(type='submit') SAVE

				//screen 3
				#judge3.clear.services.thankyousection.block
					.block.content-960.center-relative
								.hellojudge.judging.section-title-fixed.singleLineText <img id='titlePiece' src='/assets/img/titlepieces1.png' style='z-index:-1;' /> THANK YOU! 
								br
								br
								.hellojudge.p.nextround The next round will begin in a few minutes. Sit tight  :D
								br
								button#judgerefresh.judge-btn.judge-btn-form REFRESH
