extend ../layout
block localCSS
    link(rel="import", href="/elements/my-element.html")

block content
    .containerbody
        h1.singleLineText MENTOR HELP REQUEST
        
        br
            
        .form-result
        form.form-horizontal#helpForm(method='post', action='#', role='form')
            .form-group
                label.col-sm-2.control-label(for='name') Name
                .col-sm-8
                    input.form-control(type='text', placeholder='What do your homies call you?', id='name', value=name)
            
            .form-group
                label.col-sm-2.control-label(for='location') Location
                .col-sm-8
                    input.form-control(type='text', placeholder='Where you at?', id='location', value=location)

            .form-group
                label.col-sm-2.control-label(for='description') Description
                .col-sm-8
                    textarea#description.form-control(rows='4', name='description', placeholder='What do you need?', value=description)
            .form-group
                .form-error-msg.col-sm-offset-2.col-sm-5
                .col-sm-4.pull-right
                    button.btn#submit(type='submit') Submit
    .footer-spacer
block localJavascript
    script(type="text/javascript", src='/js/public/public-help.js')
