extend ../layout
block localCSS
    link(rel="import", href="/elements/my-element.html")

block content
    .containerbody
        h1.singleLineText Request for Help!
        
        .sponsor-blurb
        
        form.form-horizontal#helpForm(method='post', action='#', role='form')
            .form-group
                label.col-lg-3.control-label(for='name') Name
                .col-lg-8
                    input.form-control(type='text', placeholder='Whatcha called?', id='name', value=name)
            
            .form-group
                label.col-lg-3.control-label(for='location') Location
                .col-lg-8
                    input.form-control(type='text', placeholder='Where you at?', id='location', value=location)

            .form-group
                label.col-lg-3.control-label(for='description') Description
                .col-lg-8
                    input.form-control(type='text', placeholder='What do you need?', id='description', value=description)

            .form-group
                .form-error-msg.col-lg-offset-1.col-lg-6.pull-left
                .col-lg-3.pull-right
                    button.btn#submit(type='submit') Submit

block localJavascript
    script(type="text/javascript", src='/js/public/public-help.js')
