extend ../layout
block content
	.containerbody
		h1 MAPS

		.row.text-left
			.col-md-6
				img(class="resize" src='/img/diracmap.png')
				p.text-medium Dirac
			.col-md-6
				img(class="resize" src='/img/diracmap.png')
				p.text-medium Ceremony
			.col-md-6
				img(class="resize" src='/img/diracmap.png')
				p.text-medium Parking
			