extend ../layout
block content
	.containerbody
		h1.singleLineText Spread the Word
		h2.
			We want you to spread HackFSU to your school!<br><br>
			Download these shareables to get interest going!<br><br>
			Contact us for potential transportation reimbursement!<br>
			<br><br>
		p
			| We want to spread the spirit of HackFSU throughout Florida. If you feel passionate about coming, we want to encourage you as much as we can. Print out the flyers below and spread them around your school! 
			| If you get a group going, contact us at 
			a.link-text(target='_blank', href='mailto:bus@hackfsu.com') bus@hackfsu.com
			|  and we may reimburse you for travel. We look forward to hacking with you!
		
		h1.singleLineText Shareables
		
		.row.text-center
			.col-md-6
				.row.shareable
					img(src='/img/shareables/flyer-hackfsu-thumb.jpg')
					br
					a.cleanLink(href='/res/shareables/flyer-hackfsu.pdf', download)
						button.btn.btn-large Download

			.col-md-6
				.row.shareable
					img(src='/img/shareables/poster-hackfsu-thumb.jpg')
					br
					a.cleanLink(href='/res/shareables/poster-hackfsu.pdf', download)
						button.btn.btn-large Download
						
	//- .filler(height='100%', width='100%', style='padding-bottom: 73em;')
