extend ../layout
block content
	.containerbody
		h1.singleLineText Spread the Word
		
		p.text-medium
			| There has been a ton of excitement and hype from you all for HackFSU this year! We wanted to provide you with flyers and posters to fuel the interest! Download them below and post them everywhere! 
			br
			br
			br
		h2 HackFSU Photo Contest
		p.text-medium
			br
			| Enter for a chance to win the world's smallest production drone!
			br
			br
			
		h3 Steps:
		ol
			li.text-medium Print out our flyers and posters
			li.text-medium Post them around campus
			li.text-medium Take a picture with you and the prints
			li.text-medium
				| Tweet 
				a.link-text(target='_blank', href='http://www.twitter.com/HackFSU') @HackFSU
				|  with your photo
		
		br
		p.text-medium
			| Deadline to enter is March 12th at 11:59pm EST. We will be selecting the most creative picture shortly after, good luck!
		
		p.text-medium
			| The winner will be announced at the opening ceremony.
		
		h1.singleLineText Prints:
		
		.row.text-center
			.col-md-6
				.row.shareable
					img(src='/img/shareables/flyer-thumb.jpg')
					p.text-medium 5x7 in. Flyer
					a.cleanLink(href='/res/shareables/flyer-hackfsu.pdf', download)
						button.btn.btn-large Download

			.col-md-6
				.row.shareable
					img(src='/img/shareables/poster-thumb.jpg')
					p.text-medium 11x17 in. Poster
					a.cleanLink(href='/res/shareables/poster-hackfsu.pdf', download)
						button.btn.btn-large Download
		
		p.text-medium.
			<b>Pro Tip:</b> You may be able to contact your Student Government office to see if you can receive free printing through a Student Organization.
						
	//- .filler(height='100%', width='100%', style='padding-bottom: 73em;')
