extend ../layout
block content
	.containerbody
		h1.singleLineText Shareables!
		h2 We want you to spread HackFSU to your school!
		h2 Download these shareables to get interest going!
		h2 Contact us for potential transportation reimbursement! 
		br
		p We want to spread the spirit of HackFSU throughout Florida. If you feel passionate 
		p about coming, we want to encourage you as much as we can. Print out the flyers below 
		p and put them around your school. 
		br
		p Contact us if you get a group going and we may reimburse you for travel. We look forward to see you coming!
		.col-md-4
			img(src='/img/flyer-hackfsu.jpg' stye='display: block' height='700px' width='400px')

			a(href='/img/flyer-hackfsu.jpg' style='display: block') Click here to download!
	.filler(height='100%', width='100%', style='padding-bottom: 73em;')
