extend ../layout
block content
	.containerHeader
		h1 Shareables!
		h2 We want you to spread HackFSU to your school!
		h2 Download these shareables to get interest going!
		h2 Contact us for potential transportation reimbursement!

		a(href='/shareables.jpg') Click here to download!
	.filler(height='100%', width='100%', style='padding-bottom: 73em;')