extend ../layout
block content
	.containerbody
		h1.singleLineText Sponsor of the Month
	
	//- MAILCHIMP ///////////////////////////////////
	.banner
		img(src="/img/sponsors/mailchimp_banner.jpg")
	.containerbody
		.sponsor-blurb
			p
				| First up for January, 
				a(href="http://mailchimp.com/") MailChimp
				|! Their commitment to creating a creative and relaxed workspace has drove them to become an amazing email marketing service. What started as a side project now runs with over 7 million users around the world. They help distribute over 10 billion professionally formatted emails to consumers and also assist in email infrastructure and newsletters. Their family of products includes MailChimp, TinyLetter, and Mandrill, which we utilize to send out all of our HackFSU emails. We want to thank MailChimp in joining us to inspire all hackers in the South!
		.sponsor-questions
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question What do you think is the most fun part of working at MailChimp?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Permission to be creative and of course working with chimps!
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question How has MailChimp changed your life?
				tr: td: h1 A&nbsp;
					td.sponsor-answer On the internet. LOL
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question If you could pick one superpower, what would it be?
				tr: td: h1 A
					td.sponsor-answer Easy…..FLIGHT like superman.
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question What’s the coolest hack you’ve seen?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Using shaders to do HPC with GPUs before newer frameworks were available.
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question Why a chimp?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Superbowl ads of 2007, chimps were all the rage back then.
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question If you could give advice to someone who wants to change the world, what would it be?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Patience is a virtue and the best things in life are worth waiting for.
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question What’s your motto?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Listen hard, Change fast.
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question What do you guys look for in a hacker?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Innovation and creativity.
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question NSYNC, Backstreet Boys, or Spice Girls?
				tr: td: h1 A&nbsp;
					td.sponsor-answer Two words: Justin Timberlake
				
			table
				tr: td: h1 Q&nbsp;
					td.sponsor-question What’s the best part of being a sponsor?
				tr: td: h1 A&nbsp;
					td.sponsor-answer The hacks!  It’s amazing how quickly people are able to build products, sometimes even life changing products.
				
		h2 Come hack with us and meet the amazing people at MailChimp! You don’t want to miss them! 
		
		.sponsors-full