extend ../layout
block content
	.navbar-spacer
	.containerbody
		h1 Sponsor of the Month
	
	//- MAILCHIMP ///////////////////////////////////
	.banner
		img(src="/img/sponsors/mailchimp_banner.jpg")
	.containerbody
		.sponsor-blurb
			p
				| First up for January, 
				a(href="http://mailchimp.com/") MailChimp
				|! Their commitment to creating a creative and relaxed workspace has drove them to become an amazing email marketing service. What started as a side project now runs with over 7 million users around the world. They help distribute over 10 billion professionally formatted emails to consumers and also assist in email infrastructure and newsletters. Their family of products includes MailChimp, TinyLetter, and Mandrill, which we utilize to send out all of our HackFSU emails. We want to thank MailChimp in joining us to inspire all hackers in the South!
		.sponsor-questions
			h3 What do you think is the most fun part of working at MailChimp?
			p Permission to be creative and of course working with chimps!
			
			h3 How has MailChimp changed your life?
			p On the internet. LOL
			
			h3 If you could pick one superpower, what would it be?
			p Easy…..FLIGHT like superman.
			
			h3 What’s the coolest hack you’ve seen?
			p Using shaders to do HPC with GPUs before newer frameworks were available.
			
			h3 Why a chimp?
			p Superbowl ads of 2007, chimps were all the rage back then.
			
			h3 If you could give advice to someone who wants to change the world, what would it be?
			p Patience is a virtue and the best things in life are worth waiting for.
			
			h3 What’s your motto?
			p Listen hard, Change fast.
			
			h3 What do you guys look for in a hacker?
			p Innovation and creativity.
			
			h3 NSYNC, Backstreet Boys, or Spice Girls?
			p Two words: Justin Timberlake
			
			h3 What’s the best part of being a sponsor?
			p The hacks!  It’s amazing how quickly people are able to build products, sometimes even life changing products.
			
			h2 Come hack with us and meet the amazing people at MailChimp! You don’t want to miss them! 
		
		.sponsors-full