| Hey #{toFirstName},
| 
| Status: Waitlisted
| 
| Thank you for your interest in HackFSU this Spring! Unfortunately, we cannot house everyone that has applied. We have placed you on our waitlist and will let you know if space opens up. Keep an eye out!
| 
| Happy Hacking,
| The HackFSU Crew