.clear.center-text.footer
	.footer-content.center-text.block.content-960.center-relative
		.social.center-text
			a(href='https://twitter.com/HackFSU' style='text-decoration:none;')
				i.fa.fa-twitter
			a(href='https://www.facebook.com/hackfsu' style='text-decoration:none;')
				i.fa.fa-facebook
			a(href='http://statigr.am/tag/hackfsu' style='text-decoration:none;')
				i.last.fa.fa-instagram
		.footer-copyright.center-text
			| &copy; 2015 HackFSU
