.clear.center-text.footer
	.footer-content.center-text.block.content-960.center-relative
		.social.center-text
			a(href='#{store.links.twitter}' style='text-decoration:none;')
				i.fa.fa-twitter
			a(href='#{store.links.facebook}' style='text-decoration:none;')
				i.fa.fa-facebook
			a(href='#{store.links.instagram}' style='text-decoration:none;')
				i.last.fa.fa-instagram
		.footer-copyright.center-text
			= store.app.copyright
