//- 
	Homepage layout

extend base

block header
	//- Navigation Menu
	#main-menu.main-menu
		.center-relative.menu-holder
			.menu-logo.left
				img#logo(src='/img/white_feather.png')
				h3.logotext HackFSU
			ul.right.montserrat-font
				li.active
					a(href='#faq') FAQ
				li
					a(href='#travel') TRAVEL
				li
					a(href='#sponsors') SPONSORS
				li
					a(href='/register') REGISTER
			.clear

block layoutJS
	script(src='/vendor/drythemes-sensa/js/jquery.dryMenu.js')
