| #{toFirstName},
| 
| Thank you for your interest in becoming a Mentor this Spring! Keep a look out for an email with more information closer to the event!
| 
| Don't hesitate to shoot us an email at info@hackfsu.com with any questions!
| 
| Cheers,
| 
| The HackFSU Crew